fastapi
uvicorn
python-multipart
pdf2docx
pymupdf<1.25.0

Pillow
pandas
openpyxl
ffmpeg-python
pyyaml
markdown
pdfkit
rembg
onnxruntime
pypdf
yt-dlp
certifi
requests
pytesseract
qrcode[pil]
python-barcode[images]
colorthief
PyPDF2
piexif
